.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.app__header {
  height: 10vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}


main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 9vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


/********* Form *********/

form {
  height: 7vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;  
}

form button {
  width: 10%;
}

input {
  line-height: 1.5;
  width: 82%;
  font-size: 1.1rem;
  background-color:#e9e9eb;  
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 18px;
  margin: 10px
}



/****************************/

/** Messages **/

p {
  max-width: 500px;
  margin: 6px 0px;
  line-height: 18px;
  padding: 3px 20px;
  position: relative;
}

.message {
  margin: 1px 0px;
  padding: 1px 3px;
  width: fit-content;
  transition: transform 350ms;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left;
}

.message__userCard {
  background-color: #0099ff;
  color: #FFFFFF;
  border-bottom-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  display: flex;
  align-items: center;
}

.message__guestCard {
  background-color: #E4E6EB;
  color: #050505;
  border-bottom-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  display: flex;
}

.message__guestCard__darkMode {
  background-color: #3E4042;
  color: #E4E6EB;
  border-bottom-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  border-top-left-radius: 1.3em;
  display: flex;
}

