.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.app__header {
  height: 10vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #e9e9eb
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  border: 2px solid #e9e9eb
}


main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
} */

/********* Form *********/

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;  
}

form button {
  width: 20%;
  background-color: red;
  color: white;
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background-color:#e9e9eb;  
  outline: none;
  border: none;
  padding: 0 10px;
}






/****************************/

/** Messages **/

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 5px 20px;
  position: relative;
}

.message {
  margin: 10px;
  width: fit-content;
  transition: transform 350ms;
  
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #0084ff;
  color: #FFFFFF !important;
  border-bottom-left-radius: 1.3em !important;
  border-top-left-radius: 1.3em !important;
  display: flex;
}

.message__guestCard {
  background-color: #E4E6EB;
  color: #050505;
  border-bottom-right-radius: 1.3em !important;
  border-top-right-radius: 1.3em !important;
  display: flex;
}

.message__guestCard__darkMode {
  background-color: #3E4042;
  color: #E4E6EB;
  border-bottom-right-radius: 1.3em !important;
  border-top-right-radius: 1.3em !important;
  display: flex;
}

