.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  transition: transform 450ms;
  border: 2px solid red;
}

.message:hover {
  transform: scale(1.08);
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #0099ff!important;
  color: white !important;
  border-bottom-left-radius: 1.3em !important;
  border-top-left-radius: 1.3em !important;

}

.message__guestCard {
  background-color: #e9e9eb !important;
  border-bottom-right-radius: 1.3em !important;
  border-top-right-radius: 1.3em !important;
}